*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(57, 57, 156);
    color: white;
}
body h1{
    text-align: center;
    margin: 20px;
}
body .main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    font-family: cursive;
    font-size: 15px;
    font-weight: 100;
}
body .main .div1{
    border: none;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
}
body .main .div2{
    border: none;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
body .main .div3{
    border: none;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
body .main button{
    padding: 10px;
    background: rgb(235, 232, 232);
    border-radius: 25px;
    border: 1px solid cyan;
    box-shadow: inset 2px 2px 2px 2px black, 0 0 2px 2px cyan;
    width: 40%;
    filter: brightness(0.8);
    margin: 10px;
}
body .main button:hover{
    cursor: pointer;
    filter: brightness(1.1);
}